body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevents scrolling sideways */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.hero-image {
    background-image: url('/static/blog/images/books-1614215_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid red;
}

footer a {
    color: #ddd;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

.card img {
    height: 300px;
    object-fit: cover;
}