{% extends 'blog/base.html' %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1>Admin Dashboard</h1>
  <a href="{% url 'admin_add_book' %}" class="btn btn-admin-add mb-3" aria-label="Add a new book">Add Book</a>
  <a href="{% url 'admin_edit_about' %}" class="btn btn-admin-about mb-3" aria-label="Edit the About page content">Edit About</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>
          <a href="{% url 'admin_edit_book' book.pk %}" class="btn btn-admin-edit" aria-label="Edit {{ book.title }}">Edit</a>
          <a href="{% url 'admin_delete_book' book.pk %}" class="btn btn-admin-delete" aria-label="Delete {{ book.title }}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
