{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero-image position-relative text-white">
  <div class="overlay blur-overlay"></div>
  <div class="hero-content position-relative d-flex flex-column justify-content-center align-items-center text-center h-100">
    <h1 class="mb-4">Welcome To The BookWorm’s Place</h1>
    <a class="btn btn-outline-light btn-lg btn-rounded" href="{% url 'books' %}">
      <i class="bi bi-book-half me-2"></i>Browse Books
    </a>
  </div>
</div>
{% endblock %}